<DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Utopia">
        <meta name="author" content="Kevin , Valérie , Michal , Stef">

        <title> UTOPIA 2.0 </title>
        <!-- CSS: Bootstrap, stylish portfolio, FA5 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../css/style.css">

        <title>Utopia 2.0</title>

    </head>

    <body class="bg-primary">
    <header class="">
        <img src="../img/banner.png" alt="logo" class="img-fluid">
    </header>

    <section id="feedback" class="content-section pb-3 pt-5 bg-secondary">
        <div class="container-fluid text-center">
            <div class="content-section-heading text-center m-5">
                <h1 class="mb-0 ">Raadpleeg hier de feedback van de gebruikers</h1>
                <iframe src="https://3f8f3h7y6k6q3fb.eu.qlikcloud.com/single/?appid=c99dcadf-f913-4ae1-813e-9a2701e6c200&sheet=3f009ec9-ea98-4cde-b7cd-c44f8dbb3129&theme=horizon&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
            </div>
        </div>
    </section>

    <!--    footer-->
    <footer class="footer text-center bg-secondary pb-2 pt-3">
        <div class="container">
            <ul class="list-inline ">
                <li class="list-inline-item">
                    <a class="" href="https://www.facebook.com/ThomasMoreBE/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class=" " href="https://twitter.com/ThomasMoreBE" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="" href="https://www.linkedin.com/company/thomas-more/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; weboos 2023</p>
        </div>
    </footer>


    </body>
    </html>
</DOCTYPE>